@media (max-width: 538px) {
  .article__container {
    width: 100%;
  }
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
  }
  .article__title{
    margin-top: 150px;
  }
  .article__nutrition {
    width: 100%;
    
  }
  
  .article__nutrition tr{
    width: 100%;
 
  }
  .article__nutrition td{
    width: 100%;
    margin-left: 20px;
    
  }
}
