@media (max-width: 375px) {
  .article__container {
    width: 100%;
  }
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
  }
  .article__title{
    margin-top: 80px;
  }
  .article__nutrition{
    width: ;
  }
}
