@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/* border: 1px solid red; */
}

:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --DarkRaspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
}

body {
  font-family: "Outfit", sans-serif;
  width: 100%;
  background-color: var(--Eggshell);
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article__container {
  background-color: var(--White);
  width: 50%;
  padding: 40px 50px;
  border-radius: 9px;
}
img {
  width: 100%;
  border-radius: 8px;
}

.article__title {
  font-family: "Young Serif", serif;
  font-size: 19px;

  padding: 20px 0 0 0;
}
.article__title h1 {
  font-weight: 300;
}

.article__container p {
  padding: 20px 0;
}

.article__preparation {
  width: auto;
  background-color: var(--RoseWhite);
  padding: 12px 20px;
  line-height: 29px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.article__preparation h4 {
  color: var(--DarkRaspberry);
  font-weight: bold;
  padding: 0 14px;
}

.article__preparation ul {
  padding: 10px 30px;
}
.article__preparation li {
  padding: 0 15px;
}

.article__preparation span {
  font-weight: bold;
}

h2 {
  color: var(--Nutmeg);
  font-weight: 300;
  font-family: "Young Serif", serif;
  padding: 20px 0;
  font-size: 29px;
}
hr {
  color: var(--LightGrey);
}
.article__ingredients {
  margin-bottom: 22px;
}
.article__ingredients ul {
  padding: 0px 22px;
}
.article__ingredients li {
  padding: 5px 12px;
  list-style: square;
}

.article__instructions {
  line-height: 20px;
  padding-bottom: 150px;
  padding: 10px 0;
}

.article__instructions ol {
  padding: 0px 20px;

  color: var(--Nutmeg);
}
.article__instructions span {
  font-weight: bolder;
  padding-left: 10px;
  color: var(--Nutmeg);
}

.article__instructions li p {
  padding-bottom: 1px;
  list-style: decimal;
  color: black;
}

.article__nutrition {
  display: flex;
 
  flex-direction: column;
  justify-content: center;
  
  /* gap: 10px; */
}
.article__nutrition tr{
    display: flex;
    width: 100%;
    
   border-bottom: solid var(--LightGrey);
   
   
}
.article__nutrition td {
  width: 35%;
 
  padding: 20px;
}
td:last-child{
    color: var(--Nutmeg);
    font-weight: 600;
}
tr:last-child {
  border-bottom: none;
}
